@include block(choose_staking) {
  width: 60%;
  margin-left: auto;
  margin-right: auto;

  @include breakpoint(medium down) {
    width: 80%;
  }

  @include breakpoint(small down) {
    padding: 2em 0;
    width: 90%;
  }

  @include breakpoint(large down) {
    > div:first-child {
      margin-bottom: 1em;
    }
  }
  @include block(option) {
    box-shadow: 0px 0px 30px rgba(21, 53, 80, 0.12);
    border-radius: 16px;
    margin: auto;
    padding: 1.5em;

    @include breakpoint(xlarge up) {
      width: 450px;
    }

    @include breakpoint(medium down) {
      margin: 0.5em 0;
      width: 100%;
    }

    @include breakpoint(small down) {
      width: 100%;
    }

    @include element(title) {
      font-weight: 500;
      width: 100%;
      text-transform: uppercase;
      font-size: 1em;
      color: $color-primary-dark;
      margin-bottom: 1em;
    }

    @include element(text) {
      width: 100%;
      font-size: 0.935em;
      color: $color-gray;
    }

    @include block(button) {
      height: 35px;
      margin-top: 1em;
      width: 100px;
      background: $color-primary-dark;
      border-radius: 100px;
      color: $color-white;

      &:hover {
        background: $color-light-dark;
      }
    }
  }
}
