@include block(rewards) {
  @include element(wrapper) {
    background-color: #f4f6f9;
  }
  padding: 5em 0 0;
  @include xy-grid-container(1200px);
  @include xy-grid(vertical);
  @include flex-align(null, top);
  width: 100%;
  @include element(headline) {
    h1 {
      font-weight: bold;
      font-size: 1.875em;
      line-height: 29px;
      margin-bottom: 0.5em;
      color: $color-black;
    }

    p {
      max-width: 544px;
      height: 125px;
      font-size: 1.125em;
      line-height: 25px;
    }
  }
  @include element(filter-chips) {
    margin: 1.5em 0;
    @include xy-grid(horizontal, false);
    @include block(chip) {
      &:nth-of-type(2) {
        margin: 0 0.5em;
      }
      padding: 0 2em;
      height: 48px;
      color: #333333;
      border: 2px solid #d9e1e7;
      border-radius: 100px;
      transition: 0.5s;
      &:hover {
        background: #283e52;
        color: #fff;
      }
      &:disabled {
        color: #fff;
        background: #0f273c;
        border: 2px solid #0f273c;
      }
    }
  }
  @include element(section) {
    width: 100%;
    @include element(title) {
      display: flex;
      align-items: center;
      margin-bottom: 1em;
    }
    @include element(icon) {
      width: 48px;
      margin-right: 0.5em;
    }
    @include element(label) {
      font-size: 1.875em;
      font-weight: bold;
      line-height: 21px;
      color: $color-black;
      margin-bottom: 0.5em;
    }
  }
  @include element(cards-container) {
    width: 100%;
  }
  @include element(platforms) {
    margin-bottom: 3em;
  }
  @include element(platform) {
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    @include breakpoint(medium up) {
      min-width: 256px;
      max-width: 256px;
      &:not(:last-child) {
        margin-right: 2em;
      }
    }
    @include breakpoint(medium down) {
      &:not(:last-child) {
        margin-bottom: 2em;
      }
    }

    @include modifier(active) {
      box-shadow: 0 0 0 4px #052235;
    }

    @include element(header) {
      position: relative;
    }

    @include element(footer) {
      border: 1px solid #ebebeb;
      padding: 32px 15px;
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;
    }

    @include element(banner) {
      width: 100%;
      height: 150px;
    }

    @include element(icon) {
      position: absolute;
      bottom: -25px;
      right: 25px;
      border-radius: 50%;
      width: 64px;
      height: 64px;

      @include modifier(ring) {
        border: 4px solid white;
      }
    }
  }

  @include element(coming-soon) {
    margin-top: 20px;
    margin-bottom: 150px;

    img {
      max-width: 256px;
    }
  }
}

@include block(reward-card) {
  position: relative;
  padding: 1em;
  margin-bottom: 2em;
  @include breakpoint(medium up) {
    min-width: 256px;
    max-width: 256px;
    &:not(:last-child) {
      margin-right: 2em;
    }
  }
  @include breakpoint(medium down) {
    &:not(:last-child) {
      margin-bottom: 2em;
    }
  }

  background-color: #fff;
  border: 1px solid #e9e9e9;
  border-radius: 10px;

  @include modifier(uniswap) {
    @include element(badge) {
      background-color: $color-uniswap;
      color: white;
    }
  }

  @include modifier(fuseswap) {
    @include element(badge) {
      background-color: $color-fuseswap;
      color: white;
    }
  }

  @include element(header) {
    @include xy-grid();
    @include flex-align(justify, middle);
  }

  @include element(badge) {
    display: flex;
    font-size: 11px;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 3px;

    > img {
      width: 9px;
      margin-right: 5px;
    }
  }

  @include block(reward-status) {
    width: 8px;
    height: 8px;
    border-radius: 50%;

    @include modifier(new) {
      background-color: #4ddd99;
    }

    @include modifier(expired) {
      background-color: #f1653b;
    }

    @include modifier(soon) {
      background-color: #4ddd99;
    }
  }

  @include element(icons) {
    padding: 1em 0;
    position: relative;
    @include xy-grid();
    @include flex-align(left, middle);

    @include block(icon) {
      width: 64px;
      height: 24px;
      background: #fef2ef;
      border-radius: 8px;
      @include flex-align(left, middle);
      @include xy-grid();

      > span {
        font-weight: 500;
        font-style: normal;
        font-size: 12px;
        line-height: 12px;
        text-transform: uppercase;
      }

      @include modifier(new) {
        background-color: #fef2ef;
        > span {
          color: #fc6e4c;
        }
      }

      @include modifier(expired) {
        background-color: #eef3f6;
        > span {
          color: #869aac;
        }
      }

      @include modifier(soon) {
        background-color: #ebf8fc;
        > span {
          color: #80a8b4;
        }
      }
    }
  }

  @include element(icon) {
    height: 64px;
    min-width: 112px;
    max-width: 120px;
  }

  @include element(title) {
    font-size: 17px;
    font-weight: 500;
    color: $color-black;
  }

  @include block(button) {
    width: 100%;
    height: 48px;
    left: 16px;
    top: 375px;
    color: #fff;
    background: #4c5f6e;
    border-radius: 3px;
    transition: 0.5s;
    &:hover {
      background: lighten(#4c5f6e, 10%);
    }
    &:disabled {
      background-color: $color-disabled;
      cursor: not-allowed;
      color: $color-primary-dark;
    }

    @include modifier(grey) {
      background-color: #e9eDf2;
      color: #052235;
      &:hover {
        background: darken(#e9eDf2, 5%);
      }
    }
  }
}

@include block(card-section) {
  margin: 1em 0 1.5em;
  min-height: 36px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  font-weight: 500;
  font-size: 12px;
  @include element(label) {
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    color: #9d9d9d;
  }
  @include element(info) {
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #545454;
  }
  @include element(apy) {
    font-size: 15px;
    line-height: 16px;
    color: #42b051;
  }
}

@include block(card-calender) {
  @include element(label) {
    display: flex;
  }
  @include element(icon) {
    width: 12px;
    margin-right: 0.2em;
  }
}
