@include block(rewards) {
  @include element(wrapper) {
    background-color: #fbfafc;
  }
  padding: 5em 0;
  @include xy-grid-container(1200px);
  @include xy-grid(vertical);
  @include flex-align(null, top);
  width: 100%;
  @include element(headline) {
    h1 {
      font-weight: bold;
      font-size: 1.875em;
      line-height: 29px;
      margin-bottom: 0.5em;
      color: $color-black;
    }

    p {
      max-width: 544px;
      height: 125px;
      font-size: 1.125em;
      line-height: 25px;
    }
  }
  @include element(filter-chips) {
    @include block(chip) {
      margin: 0 0.5em;
      padding: 0 2em;
      height: 48px;
      color: #333333;
      border: 2px solid #d9e1e7;
      border-radius: 100px;
      transition: 0.5s;
      &:hover {
        background: #283e52;
        color: #fff;
      }
      &:disabled {
        color: #fff;
        background: #0f273c;
        border: 2px solid #0f273c;
      }
    }
    margin: 1.5em 0;
  }
  @include element(section) {
    width: 100%;
    margin-bottom: 3em;
    @include element(title) {
      display: flex;
      align-items: center;
      margin-bottom: 1em;
    }
    @include element(icon) {
      width: 48px;
      margin-right: 0.5em;
    }
    @include element(label) {
      font-size: 1.375em;
      font-weight: 500;
      line-height: 21px;
      color: $color-black;
    }
  }
  @include element(cards-container) {
    width: 100%;
  }
}

@include block(reward-card) {
  position: relative;
  padding: 1em;
  margin-bottom: 2em;
  @include breakpoint(medium up) {
    min-width: 256px;
    max-width: 256px;
    &:not(:last-child) {
      margin-right: 2em;
    }
  }
  @include breakpoint(medium down) {
    &:not(:last-child) {
      margin-bottom: 2em;
    }
  }

  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  @include element(icons) {
    padding: 1em 0;
    position: relative;
    @include xy-grid();
    @include flex-align(justify, top);

    @include block(icon) {
      width: 64px;
      height: 24px;
      background: #fef2ef;
      border-radius: 8px;
      @include flex-align(center, middle);
      @include xy-grid();

      > span {
        font-weight: 500;
        font-style: normal;
        font-size: 12px;
        line-height: 12px;
        text-transform: uppercase;
      }

      @include modifier(new) {
        background-color: #fef2ef;
        > span {
          color: #fc6e4c;
        }
      }

      @include modifier(expired) {
        background-color: #eef3f6;
        > span {
          color: #869aac;
        }
      }

      @include modifier(soon) {
        background-color: #ebf8fc;
        > span {
          color: #80a8b4;
        }
      }
    }
  }
  @include element(icon) {
    height: 64px;
    width: 112px;
  }
  @include element(title) {
    margin: 0.5em 0em;
    font-size: 1.375em;
    font-weight: 500;
    color: $color-black;
  }

  @include block(button) {
    width: 100%;
    height: 48px;
    left: 16px;
    top: 375px;
    color: #fff;
    background: #0f273c;
    border-radius: 100px;
    transition: 0.5s;
    &:hover {
      background: #283e52;
    }
    &:disabled {
      background-color: $color-disabled;
      cursor: not-allowed;
      color: $color-primary-dark;
    }
  }
}

@include block(card-section) {
  margin: 1em 0;
  min-height: 36px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  font-weight: 500;
  font-size: 12px;
  @include element(label) {
    font-size: 9px;
    line-height: 12px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: #869aac;
  }
  @include element(info) {
    line-height: 16px;
    display: flex;
    align-items: center;
    color: $color-black;
  }
  @include element(apy) {
    font-size: 15px;
    line-height: 16px;
    color: #42b051;
  }
}

@include block(card-calender) {
  @include element(label) {
    display: flex;
  }
  @include element(icon) {
    width: 12px;
    margin-right: 0.2em;
  }
}
