$font-family: 'Gotham SSm A', 'Gotham SSm B', 'icomoon';
$font-family-lato: 'Lato', sans-serif;

$color-white: #fff;
$color-black: #333333;
$color-disabled: #EEF3F6;

$color-primary-dark: #0F273C;
$color-dark: #25435a;
$color-light-dark: #2B4258;
$color-gray: #7a7a7a;
$color-dark-gray: #a0a0a0;
$color-light-gray: #bbb;
$color-lighter-gray: #E2E2E2;
$color-light-blue: #0091ff;

$color-uniswap: #ff017a;
$color-fuseswap: #10263a;
$color-pancakeswap: #46d3db;