@import "config/config";

@import "foundation/foundation";
@import "foundation/utils";
@import "placeholders/placeholders";
@import "components/components";
@import "resets/resets";
@import "~react-component-countdown-timer/lib/styles.css";
